<div class="jumbotron">
  <h1 class="display-4">Hello, world!</h1>
  <p class="lead">This is the Crypto Wallet, an app for you register and follow your Crypto Coins</p>
  <hr class="my-4">
  <p>To start, select a of the options bellow</p>
    <%= render "menu" %>
</div>
